body      { 
    background-color: rgb(234, 212, 255);
}

h1 {
    color: rgb(49, 49, 40);
}

div {
    margin: 2%;
    width: 50%;
    height: 200px;
}

#padre {
    background-color: brown;
}

#hijo {
    background-color: bisque;
}

.caja {
    width: 400px;
}

